In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head(10)

   Unnamed: 0       PC1       PC2  target
0           0 -2.264703  0.480027       0
1           1 -2.080961 -0.674134       0
2           2 -2.364229 -0.341908       0
3           3 -2.299384 -0.597395       0
4           4 -2.389842  0.646835       0
5           5 -2.075631  1.489178       0
6           6 -2.444029  0.047644       0
7           7 -2.232847  0.223148       0
8           8 -2.334640 -1.115328       0
9           9 -2.184328 -0.469014       0

In [4]:
df.drop('Unnamed: 0', axis =1, inplace = True)

In [5]:
df

          PC1       PC2  target
0   -2.264703  0.480027       0
1   -2.080961 -0.674134       0
2   -2.364229 -0.341908       0
3   -2.299384 -0.597395       0
4   -2.389842  0.646835       0
..        ...       ...     ...
145  1.870503  0.386966       2
146  1.564580 -0.896687       2
147  1.521170  0.269069       2
148  1.372788  1.011254       2
149  0.960656 -0.024332       2

[150 rows x 3 columns]

## Splitting Dataset

In [6]:
X = df.drop('target',axis=1)

In [7]:
y = df.target

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Modeling

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [12]:
model.predict(X_test)

array([2, 2, 2, 1, 0, 1, 0, 0, 0, 2, 2, 0, 1, 2, 0, 2, 1, 0, 1, 2, 0, 2,
       1, 0, 0, 1, 2, 2, 1, 1])

In [13]:
y_test

131    2
132    2
134    2
60     1
22     0
56     1
13     0
30     0
43     0
148    2
146    2
42     0
54     1
141    2
1      0
72     1
79     1
49     0
53     1
137    2
48     0
101    2
94     1
7      0
39     0
69     1
108    2
142    2
95     1
59     1
Name: target, dtype: int64

In [14]:
model.score(X_test, y_test)

0.9666666666666667